<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="front.mamberMapper">

	<!-- 회원가입 -->
	<insert id="register" parameterType="com.indiv.front.vo.memberVO">
		INSERT INTO MEMBER(
			ID,
			PASS,
			NAME,
			PHONE,
			BIRTH,
			ZIPCODE,
			ADDR,
			DETAILADDR,
			CRE_DT
		) VALUES (
			#{id},
			#{pass},
			#{name},
			#{phone},
			#{birth},
			#{zipCode},
			#{addr},
			#{detailAddr},
			NOW()
		)
	</insert>
</mapper>